<div class="container-fluid">
  <div class="card">
    <div class="card-body">
      <div style="display: flex; align-items: center; justify-content: center">
        <app-loader [loading]="fetching"></app-loader>
      </div>
    </div>
    <div class="row product-page-main card-body" *ngIf="!fetching">
      <div class="col-xl-8">
        <div class="product-page-details product-right mb-0">
          <div class="row">
            <h2 class="col-12 col-md-6">
              {{ "ordermanagement_orderdetail" | translate }}
            </h2>
            <div class="col-12 col-md-6" style="text-align: right">
              <span
                style="color: #36f; cursor: pointer"
                data-toggle="modal"
                (click)="openInvoice(Invoice)"
              >
                <span
                  class="d-flex flex-column align-items-center position-absolute"
                  style="right: 20px"
                >
                  <app-feather-icons
                    [icon]="'file-text'"
                    class="font-primary"
                  ></app-feather-icons>
                  <span>{{ "ordermanagement_orderinvoice" | translate }}</span>
                </span>
              </span>
            </div>
          </div>
          <hr />
          <div class="container-gap">
            <!-- <h4 class="product-title">{{ "ordermanagement_note" | translate }}</h4>
            <p class="mb-0">{{order?.note}}</p> -->

            <div style="margin-top: 30px">
              <h4 class="product-title">
                {{ "ordermanagement_ordercustomer" | translate }}
              </h4>
              <hr />
              <div class="payment-section" style="margin-top: 20px">
                <div class="font-size-13">
                  <strong>{{
                    "ordermanagement_ordercustomername" | translate
                  }}</strong
                  >: {{ dummyData?.user_info?.name }}
                </div>
                <div class="font-size-13">
                  <strong>{{
                    "ordermanagement_ordercustomercontactno" | translate
                  }}</strong
                  >:
                  {{ dummyData?.user_info?.contact }}
                </div>
              </div>
              <div style="margin-top: 20px" class="font-size-13">
                <strong>{{
                  "ordermanagement_ordercustomeraddress" | translate
                }}</strong
                >: {{ dummyData?.user_info?.address }}
              </div>
            </div>
          </div>

          <div class="container-gap">
            <h4 class="product-title">
              {{ "ordermanagement_ordercustomerpayment" | translate }}
            </h4>
            <hr />
            <div class="payment-section">
              <div class="font-size-13">
                <strong>{{
                  "ordermanagement_ordercustomerstatus" | translate
                }}</strong
                >:
                <span class="badge badge-secondary">{{
                  order?.paymentStatus
                }}</span>
              </div>
              <div class="font-size-13">
                <strong>{{
                  "ordermanagement_ordercustomermethod" | translate
                }}</strong
                >:
                <span class="badge badge-secondary">{{
                  order?.paymentService
                }}</span>
              </div>
              <div class="font-size-13">
                <strong>{{
                  "ordermanagement_ordercustomerinvoiceno" | translate
                }}</strong
                >: {{ dummyData.invoice_no }}
              </div>
              <div class="font-size-13">
                <strong>{{
                  "ordermanagement_ordercustomershippingmethod" | translate
                }}</strong
                >:
                {{ dummyData.shipment_method }}
                <span
                  class="change-btn"
                  data-toggle="modal"
                  (click)="changeShipmentMethod(Shipment)"
                  >{{
                    "ordermanagement_ordercustomershippingmethodchange"
                      | translate
                  }}</span
                >
              </div>
            </div>
            <!-- <div style="margin-top: 20px" class="font-size-13">
              <strong>Billing Address {{ "ordermanagement_ordercustomershippingmethodchange" | translate }}</strong>: {{ dummyData.billing_address }}
            </div> -->
            <div style="margin-top: 20px" class="font-size-13">
              <strong>{{ "ordermanagement_ordercustomershippingaddress" | translate }}</strong>:
              {{ order?.address }}
            </div>
          </div>
          <div class="container-gap">
            <h4 class="product-title">{{ "ordermanagement_note" | translate }}</h4>
            <hr />
            <div>
              <p class="mb-0">{{order?.note}}</p>              
            </div>
          </div>
          <div class="container-gap">
            <h4 class="product-title">
              {{ "ordermanagement_ordercustomerproducts" | translate }}
            </h4>
            <hr />
            <div>
              <ul>
                <li class="mb-2">
                <div class="row align-items-center">
                  <div class="col-2 col-sm-4 col-md-2">
                    <strong>
                      {{'prod_image' | translate}}
                    </strong>
                  </div>
                  <div class="col-4 col-sm-4 col-md-4">
                    <strong>
                      {{ 'prod_name' | translate}}
                    </strong>
                  </div>
                  <div class="prod_unitAmount col-2 col-sm-4 col-md-2">
                    <strong>
                      {{'prod_unitAmount' | translate}}
                    </strong>
                  </div>
                  <div class="prod_qty col-2 col-sm-4 col-md-2">
                    <strong>
                      {{ 'prod_qty' | translate}}
                    </strong>
                  </div>
                  <div class="prod_totalAmount col-2 col-sm-4 col-md-2">
                    <strong>
                      {{'prod_totalAmount' | translate}}
                    </strong>
                  </div>
                </div>  
                <hr/>
                </li>
                <li class="mb-2"  *ngFor="let prod of order?.orderedProductDetails">
                <div class="row align-items-center">
                  <div class="prod_img col-2 col-sm-4 col-md-2">
                    <img [src]="prod.src ? prod.src : 'assets/images/electronics/product/16.jpg'" class="img-30 mr-2" />
                  </div>
                  <div class="prod_name col-4 col-sm-4 col-md-4">
                    {{prod?.name | titlecase}}
                  </div>
                  <div class="prod_unitAmount col-2 col-sm-4 col-md-2">
                    ${{prod?.unitAmount}}
                  </div>
                  <div class="prod_qty col-2 col-sm-4 col-md-2">
                    {{prod?.qty}}
                  </div>
                  <div class="prod_totalAmount col-2 col-sm-4 col-md-2">
                    ${{prod?.totalAmount}}
                  </div>
                </div>  
                <hr/>
                </li>
                <li class="mb-2">
                <div class="row align-items-center">
                  <div class="prod_qty col-2 offset-8 col-sm-4 col-md-2">
                    <strong>
                      {{'ordermanagement_ordercustomersummaryorderstotals' | translate}}
                    </strong>
                  </div>
                  <div class="prod_totalAmount col-2 col-sm-4 col-md-2">
                    <strong>
                      ${{order?.total}}
                    </strong>
                  </div>
                </div>  
                <hr/>
                </li>
              </ul>
              <!-- <table class="table cart-table table-responsive-xs">
                <thead>
                </thead>
                <tbody *ngFor="let product of order?.orderedProductDetails">
                    <tr>
                        <td>
                          <img 
                          [src]="product.images ? product.images[0].src : 'assets/images/electronics/product/16.jpg'" 
                          [alt]="product.name"
                          class="img-30 mr-2"
                          >
                        </td>
                        <td>
                            <span>{{ product.name | titlecase }}</span>
                            <div class="mobile-cart-content row">
                                <div class="col-xs-3">
                                    <h2 class="td-color">
                                        ${{ product?.unitAmount }}
                                    </h2>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="qty-box">
                              {{product?.quantity}}
                                
                            </div>
                        </td>
                        <td>
                            <h2 class="td-color">
                                ${{ product.totalAmount }}
                            </h2>
                        </td>
                    </tr>
                </tbody>
            </table>
            <table class="table cart-table table-responsive-md">
                <tfoot>
                    <tr>
                        <td>{{'ordermanagement_ordercustomersummaryorderstotals' | translate }}:</td>
                        <td>
                            <h2> {{ order?.total }}</h2>
                        </td>
                    </tr>
                </tfoot>
            </table> -->
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="order-summary">
          <div class="container-gap">
            <h4>{{ "ordermanagement_ordercustomersummary" | translate }}</h4>
            <hr />
            <div style="margin-top: 20px" class="font-size-13">
              <strong>{{ "ordermanagement_ordercustomersummarydate" | translate }}</strong>: {{ formatDate(order.creationDate) }}
            </div>
            <div style="margin-top: 20px" class="font-size-13">
              <strong>{{
                "ordermanagement_ordercustomersummaryorderstatus" | translate
              }}</strong
              >:
              <span class="badge badge-success">{{
                order?.orderStatus
              }}</span>
              <!-- <span
                class="change-btn"
                data-toggle="modal"
                (click)="changeStatus(Status)"
                >{{ "ordermanagement_ordercustomersummaryorderstatuschange" | translate }}</span
              > -->
            </div>
            <div style="margin-top: 20px" class="font-size-13">
              <strong>{{ "ordermanagement_ordercustomersummaryorderstotals" | translate }}</strong>:
              <h5 class="d-inline">${{ order?.total }}</h5>
              <span
                class="change-btn"
                data-toggle="modal"
                (click)="changeTotal(Total)"
                >{{
                  "ordermanagement_ordercustomersummaryorderstotalschange"
                    | translate
                }}</span
              >
            </div>
            <div
              class="row"
              style="margin-top: 30px; justify-content: space-evenly"
            >
              <button
                class="btn btn-custom col-12 col-sm-3"
                type="button"
                ngbTooltip="print"
                placement="bottom"
              >
                <app-feather-icons
                  [icon]="'printer'"
                  class="font-primary"
                  style="color: #fff !important"
                ></app-feather-icons>
              </button>
              <button
                class="btn btn-custom col-12 col-sm-3"
                type="button"
                ngbTooltip="message"
                placement="bottom"
              >
                <app-feather-icons
                  [icon]="'message-square'"
                  class="font-primary"
                  style="color: #fff !important"
                ></app-feather-icons>
              </button>
              <button
                class="btn btn-custom col-12 col-sm-3"
                type="button"
                ngbTooltip="back"
                placement="bottom"
                [routerLink]="'/sales/orders'"
              >
                <app-feather-icons
                  [icon]="'corner-down-left'"
                  class="font-primary"
                  style="color: #fff !important"
                ></app-feather-icons>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #Total let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Price</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div>
        <label for="price">Price</label>
        <input
          type="number"
          ngbAutofocus
          [(ngModel)]="total"
          class="form-control"
          id="price"
          aria-describedby="price"
          placeholder="Enter Price"
        />
      </div>
      <div style="margin-top: 10px">
        <label for="reason">Select Reason</label>
        <select
          class="form-control"
          id="reason"
          [(ngModel)]="reason"
          name="reason"
        >
          <option value="wrapping">Wrapping</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div style="margin-top: 10px" *ngIf="reason == 'other'">
        <label for="desc">Reason</label>
        <input
          type="text"
          [(ngModel)]="reasonDesc"
          name="reasonDesc"
          class="form-control"
          id="desc"
          aria-describedby="desc"
          placeholder="Enter Reason"
        />
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary" type="button" (click)="updateTotal()">
        Update
      </button>
    </div>
  </div>
</ng-template>

<ng-template #Status let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="status">Select Status</label>
      <select
        class="form-control"
        id="status"
        ngbAutofocus
        [(ngModel)]="status"
        name="status"
      >
        <option value="confirmingOrder">Confirming Order</option>
        <option value="orderConfirmed">Order Confirmed</option>
        <option value="shipped">Shipped</option>
        <option value="delivered">Delivered</option>
        <option value="processingRefund">Processing Refund</option>
        <option value="refunded">Refunded</option>
      </select>
    </div>
    <div class="action">
      <button class="btn btn-primary" type="button" (click)="updateStatus()">
        Update
      </button>
    </div>
  </div>
</ng-template>

<ng-template #Shipment let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Shipment Method</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div>
        <div class="row form-inline">
          <label class="col-12 col-sm-3" for="other">Other Courier</label>
          <input
            class="form-control col-12 col-sm-4"
            ngbAutofocus
            id="other"
            type="text"
          />
          <div class="box-input-file col-12 col-sm-3">
            <input
              class="upload"
              type="file"
              (change)="readUrlSizeImg($event)"
            />
            <img class="imgUpload" alt="" [src]="img" />
          </div>
        </div>
      </div>
      <div style="margin: 20px 0px">
        <label style="margin-right: 10px">Marketoo Account</label>
        <ol>
          <li>
            <a href="https://www.sf-express.com/hk/tc/" target="_blank"
              >SF Express</a
            >
          </li>
          <li>
            <a
              href="https://www.hongkongpost.hk/en/home/index.html"
              target="_blank"
              >HK Post</a
            >
          </li>
          <li>
            <a
              href="https://ec-ship.hongkongpost.hk/platform/index.jsf?lang=en_us"
              target="_blank"
              >EC Shipment</a
            >
          </li>
        </ol>
      </div>
      <div style="margin: 10px 0px">
        <div class="row form-inline">
          <label class="col-12 col-sm-4">Add Tracking Details</label>
          <input class="form-control col-12 col-sm-5" id="size" type="text" />
        </div>
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary" type="button" (click)="updateStatus()">
        Update
      </button>
    </div>
  </div>
</ng-template>

<ng-template #Invoice let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Invoice</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="main-container">
      <div class="header">
        <img src="assets/images/Marketoo.png" alt="marketoo_logo" />
        <p class="company-name">MARKETOO LIMITED</p>
        <p>Email: admin@marketoo.hk</p>
        <p>Whatsapp: (852) 5936 3083</p>
        <p>Website: https://www.marketoo.hk</p>
      </div>
      <div class="heading">
        <h3>INVOICE</h3>
      </div>
      <div class="content">
        <div class="content-right">
          <p>Invoice No.: 123123123123</p>
          <p>Date: 28,Mar 2020</p>
        </div>
        <div class="content-left">
          <p>Dear Mr John Doe,</p>
          <p>This order is deliver to</p>
          <p>17601 N Thomas Hill Rd, Sturgeon, MO, 65284</p>
        </div>
      </div>
      <div class="table-section">
        <table class="table">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Item</th>
              <th scope="col">Qty</th>
              <th scope="col">Price</th>
              <th scope="col">Total</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Item product one example</th>
              <td>2</td>
              <td>$20</td>
              <td>$40</td>
            </tr>
            <tr>
              <th scope="row">Item product two example</th>
              <td>3</td>
              <td>$10</td>
              <td>$30</td>
            </tr>
            <tr>
              <th scope="row">Item product three example</th>
              <td>1</td>
              <td>$30</td>
              <td>$30</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="footer-right">
        <p>Total (HKD): $100</p>
        <p>Payments: Stripe</p>
      </div>
      <div class="footer-desc">
        <span
          >This email and any files ransmited with it are confidential and
          intended solely for individual or entity to whom they are addressed.
          If you have received this email in error, destory it
          immediately.</span
        >
        <span class="d-block">Thank you for shopping with us at Marketoo.</span>
      </div>
    </div>
  </div>
  <!-- <div class="action">
            <button class="btn btn-primary" type="button" (click)="updateStatus()">Update</button>
        </div> -->
</ng-template>
