<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div
          class="card-header"
          style="display: flex; justify-content: space-between"
        >
          <h4 style="display: flex; align-items: center; font-weight: 600">
            <app-feather-icons
              [icon]="'users'"
              class="font-danger"
            ></app-feather-icons
            >&nbsp; 127 {{ "sc_users" | translate }}
          </h4>
          <div>
            <button type="button" class="btn btn-custom mr-1">
              <app-feather-icons
                [icon]="'download'"
                class="font-danger"
              ></app-feather-icons>
            </button>
            <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
              <button
                class="btn btn-custom mr-2"
                id="dropdownManual"
                style="
                  color: #f88379;
                  display: inline-flex;
                  align-items: center;
                "
                ngbDropdownAnchor
                (focus)="myDrop.open()"
              >
                <app-feather-icons
                  [icon]="'eye'"
                  class="font-danger"
                ></app-feather-icons>
              </button>
              <div ngbDropdownMenu aria-labelledby="dropdownManual">
                <button
                  *ngFor="let opt of filterOptions; let i = index"
                  class="btn-custom drop"
                  ngbDropdownItem
                >
                  {{ opt | translate }}
                </button>
              </div>
            </div>
            <button type="button" class="btn btn-custom mr-1">
              <app-feather-icons
                [icon]="'globe'"
                class="font-danger"
              ></app-feather-icons>
            </button>
          </div>
        </div>
        <div class="card-body">
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <app-loader [loading]="loading"></app-loader>
          </div>
          <div class="custom-datatable" *ngIf="!loading">
            <ngx-datatable
              class="bootstrap"
              [rows]="customers"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="5"
            >
              <!-- <ngx-datatable-column prop="order id"></ngx-datatable-column> -->
              <ngx-datatable-column
                name="{{ 'sc_profile' | translate }}"
                prop="image"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'sc_username' | translate }}"
                prop="username"
              >
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'sc_name' | translate }}"
                prop="englishFname"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'sc_member_since' | translate }}"
                prop="memberSince"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'sc_membership' | translate }}"
                prop="member_ship"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'sc_country' | translate }}"
                prop="country"
              ></ngx-datatable-column>
              <!-- <ngx-datatable-column
                  name="{{ 'returnexchange_action' | translate }}"
                  sortable="false"
                  prop="order id"
                >
                  <ng-template
                    let-row="row"
                    let-value="value"
                    ngx-datatable-cell-template
                  >
                    <span style="color: #f88379; cursor: pointer">
                      <i class="fa fa-eye" (click)="onSelectRow(value)"></i>
                    </span>
                  </ng-template>
                </ngx-datatable-column> -->
              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template>
                  <div
                    class="pagination"
                    *ngIf="!loading"
                    style="margin-bottom: 10px; width: -webkit-fill-available"
                  >
                    <mat-paginator
                      style="width: -webkit-fill-available"
                      [pageIndex]="pagination.CurrentPage - 1"
                      [length]="pagination.TotalCount"
                      [pageSize]="pagination.PageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="pageEvent($event)"
                    >
                    </mat-paginator>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
