.card-header{
    padding-bottom:10px !important;
}

.card-body{
    padding-top:10px !important;
}

.fieldset{
    border-color: #4B5335;
    border-width: 2px;
    border-radius: 20px;
    padding:25px;
}

.legend{
    width: auto;
    font-size: 18px;
}