<!-- Container-fluid starts-->
<div class="container-fluid" style="margin-top: 20px">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div
          class="card-header"
          style="padding-bottom: 0px; text-align: center"
        >
          <h5 class="heading">{{ "signup_info" | translate }}</h5>
          <span class="heading-border"></span>
        </div>
        <div class="card-body" style="padding-top: 0px">
          <div class="row product-adding">
            <div class="col-xl-7">
              
                <div class="add-product-form">
                  <form
                class="needs-validation"
                [formGroup]="sellerForm"
              >
                  <div>
                    <fieldset class="fieldset" style="margin-bottom: 20px">
                      <legend class="legend">
                        {{ "applicant_details" | translate }}
                      </legend>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="chineseFname" class="required mb-0"
                            >{{ "ch_full_name" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="chineseFname"
                            type="text"
                            [formControl]="
                              sellerForm.controls['chineseFname']
                            "
                            required
                          />
                          <div
                            *ngIf="
                              sellerForm.controls.chineseFname.touched &&
                              sellerForm.controls.chineseFname.errors
                                ?.required
                            "
                            class="text text-danger"
                          >
                            {{ "ch_name_req" | translate }}
                          </div>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="englishFname" class="required mb-0"
                            >{{ "en_full_name" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="englishFname"
                            type="text"
                            [formControl]="
                              sellerForm.controls['englishFname']
                            "
                            required
                          />
                          <div
                            *ngIf="
                              sellerForm.controls.englishFname.touched &&
                              sellerForm.controls.englishFname.errors
                                ?.required
                            "
                            class="text text-danger"
                          >
                            {{ "en_name_req" | translate }}
                          </div>
                          <div
                            *ngIf="
                              sellerForm.controls.englishFname.touched &&
                              sellerForm.controls.englishFname.errors
                                ?.pattern
                            "
                            class="text text-danger"
                          >
                            {{ "invalid_fname" | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="validationCustom03" class="mb-0"
                            >{{ "nick_name" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="validationCustom03"
                            type="text"
                            [formControl]="sellerForm.controls['nick_name']"
                          />
                          <div
                            *ngIf="
                              sellerForm.controls.nick_name.touched &&
                              sellerForm.controls.nick_name.errors?.required
                            "
                            class="text text-danger"
                          >
                            {{ "nick_name_req" | translate }}
                          </div>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="validationCustom04" class="required mb-0"
                            >{{ "gender" | translate }}
                          </label>
                          <select
                            class="form-control digits"
                            id="validationCustom04"
                            [formControl]="sellerForm.controls['gender']"
                          >
                            <option value="male">Male</option>
                            <option value="female">Female</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="country" class="required mb-0"
                            >{{ "select_country" | translate }}
                          </label>
                          <select 
                            class="form-control digits" 
                            id="country"
                            [formControl]="sellerForm.controls['country']"
                          >
                            <option value="Hong Kong">Hong Kong</option>
                            <option value=" Macau">Macau</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Japan">Japan</option>
                            <option value="China">China</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="validationCustom06" class="required mb-0"
                            >{{ "contact_no" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="validationCustom06"
                            type="number"
                            [formControl]="sellerForm.controls['contactNo']"
                            required=""
                          />
                          <div
                            *ngIf="
                              sellerForm.controls.contactNo.touched &&
                              sellerForm.controls.contactNo.errors?.required
                            "
                            class="text text-danger"
                          >
                            {{ "contact_no_req" | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="email" class="required mb-0"
                            >{{ "email" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="email"
                            type="email"
                            [formControl]="sellerForm.controls['email']"
                            required=""
                          />
                          <div
                            *ngIf="
                              sellerForm.controls.email.touched &&
                              sellerForm.controls.email.errors?.required
                            "
                            class="text text-danger"
                          >
                            {{ "email_req" | translate }}
                          </div>
                          <div
                            *ngIf="
                              sellerForm.controls.email.touched &&
                              sellerForm.controls.email.errors?.pattern
                            "
                            class="text text-danger"
                          >
                            {{ "email_invalid" | translate }}
                          </div>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="password" class="required mb-0"
                            >{{ "password" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="password"
                            type="password"
                            [formControl]="sellerForm.controls['password']"
                            required="true"
                          />
                          <div
                            *ngIf="
                              sellerForm.controls.password.touched &&
                              sellerForm.controls.password.errors?.required
                            "
                            class="text text-danger"
                          >
                            {{ "password_req" | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="your_identity" class="required mb-0"
                            >{{ "your_identity" | translate }}
                          </label>
                          <select
                            class="form-control digits"
                            id="your_identity"
                            [formControl]="sellerForm.controls['sellerIdentity']"
                          >
                            <option value="1">
                              Full Time Designer / Handicraftsman
                            </option>
                            <option value=" 2">
                              Freelancing Designer /Handicraftsman
                            </option>
                            <option value="3">Design Corporation</option>
                            <option value="4">Authorised Distributor</option>
                            <option value="5">Other</option>
                          </select>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="sell_product_before" class="mb-0"
                            >{{ "how_did_you_sell" | translate }}
                          </label>
                          <select
                            class="form-control digits"
                            id="sell_product_before"
                            [formControl]="sellerForm.controls['hdySellBefore']"
                          >
                            <option value="1">Store</option>
                            <option value=" 2">Market</option>
                            <option value="3">Consignment Shop</option>
                            <option value="4">
                              Shopping sites (such as Etsy, Pinkoi, Caurosell)
                              Shopping sites
                            </option>
                            <option value="5">Facebook/Instagram</option>
                            <option value="6">None</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="hear_about" class="mb-0"
                            >{{ "how_did_you_hear" | translate }}
                          </label>
                          <select 
                            class="form-control digits" 
                            id="hear_about"
                            [formControl]="sellerForm.controls['hdyHearAbtMarketoo']"
                          >
                            <option value="1">
                              Marketoo Designers’ Refer （please specify
                              Designer’s URL)
                            </option>
                            <option value=" 2">Invited by Marketoo</option>
                            <option value="3">Google</option>
                            <option value="4">Newspapers/ Magazines</option>
                            <option value="5">Facebook/Instagram</option>
                            <option value="6">
                              Introduced by family/ friends
                            </option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="weekend_market" class="mb-0"
                            >{{ "are_you_interested" | translate }}
                          </label>
                          <div>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio1"
                                value="true"
                                [formControl]="sellerForm.controls['interestedToJoinWm']"
                              />
                              <label
                                class="form-check-label"
                                for="inlineRadio1"
                                >{{ "yes" | translate }}</label
                              >
                            </div>
                            <div class="form-check form-check-inline">
                              <input
                                class="form-check-input"
                                type="radio"
                                name="inlineRadioOptions"
                                id="inlineRadio2"
                                value="false"
                                [formControl]="sellerForm.controls['interestedToJoinWm']"
                              />
                              <label
                                class="form-check-label"
                                for="inlineRadio2"
                                >{{ "no" | translate }}</label
                              >
                            </div>
                          </div>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="referee_url" class="mb-0"
                            >{{ "your_referee" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="referee_url"
                            type="text"
                            [formControl]="sellerForm.controls['refereeUrl']"
                          />
                          <!-- <div
                            *ngIf="
                            sellerForm.controls.refereeUrl.touched &&
                            sellerForm.controls.refereeUrl.errors?.pattern
                            "
                            class="text text-danger"
                          >
                            {{ "refereeUrl_invalid" | translate }}
                          </div> -->
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  </form>
                  <form
                class="needs-validation"
                [formGroup]="brandForm"
              >
                  <div>
                    <fieldset class="fieldset">
                      <legend class="legend">
                        {{ "details_brand" | translate }}
                      </legend>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="brand_name" class="required mb-0" 
                            >{{ "brand_name" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="brand_name"
                            type="text"
                            [formControl]="brandForm.controls['brandName']"
                            required
                          />
                          <div
                            *ngIf="
                            brandForm.controls.brandName.touched &&
                            brandForm.controls.brandName.errors?.required
                            "
                            class="text text-danger"
                          >
                            {{ "brand_name_req" | translate }}
                          </div>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="url" class="required mb-0">
                            {{ "design_hall" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="url"
                            type="text"
                            [formControl]="brandForm.controls['designHallUrl']"
                            required
                          />
                          <div
                            *ngIf="
                            brandForm.controls.designHallUrl.touched &&
                            brandForm.controls.designHallUrl.errors?.required
                            "
                            class="text text-danger"
                          >
                            {{ "design_hall_req" | translate }}
                          </div>
                          <div
                            *ngIf="
                            brandForm.controls.designHallUrl.touched &&
                            brandForm.controls.designHallUrl.errors?.pattern
                            "
                            class="text text-danger"
                          >
                            {{ "design_hall_req" | translate }}
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="product_category" class="required mb-0"
                            >{{ "product_cat" | translate }}
                          </label>
                          <select
                            class="form-control digits"
                            id="product_category"
                            [formControl]="brandForm.controls['productCategory']"
                          >
                            <option value="1">Original Design</option>
                            <option value="2">Authorised Sales</option>
                            <option value="3">Workshop</option>
                            <option value="4">Other</option>
                          </select>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="product_images" class="required mb-0"
                            >{{ "provide_product" | translate }}
                          </label>
                          <div class="add-product">
                            <ul class="file-upload-product images-ul">
                              <li
                                style="margin-left: 15px"
                                *ngFor="let item of url; let i = index"
                              >
                                <div class="box-input-file">
                                  <input
                                    class="upload"
                                    type="file"
                                    (change)="readUrl($event, i)"
                                  />
                                  <img
                                    class="imgUpload"
                                    alt="prod-img"
                                    [src]="productWishImages[i] ? productWishImages[i] :item.img"
                                  />
                                </div>
                              </li>
                            </ul>
                          </div>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="brand_website" class="required mb-0"
                            >{{ "brand_website" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="brand_website"
                            type="text"
                            [formControl]="brandForm.controls['brandUrl']"
                          />
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="facebook_url" class="required mb-0"
                            >{{ "facebook" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="facebook_url"
                            type="text"
                            [formControl]="brandForm.controls['facebookUrl']"
                          />
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="instagram_url" class="required mb-0"
                            >{{ "instagram" | translate }}
                          </label>
                          <input
                            class="form-control"
                            id="instagram_url"
                            type="text"
                            [formControl]="brandForm.controls['instaUrl']"
                          />
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="average_price_per_product" class="required mb-0"
                            >{{ "avg_price" | translate }}
                          </label>
                          <select
                            class="form-control digits"
                            id="average_price_per_product"
                            [formControl]="brandForm.controls['avgPricePerProduct']"
                          >
                            <option value="1">&#60;HK$100</option>
                            <option value=" 2">HK$100-300</option>
                            <option value="3">HK$300-500</option>
                            <option value="4">HK$500-1000</option>
                            <option value="5">&#62;HK$1000</option>
                          </select>
                        </div>
                      </div>
                      <div class="form-group row">
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="place_of_product" class="required mb-0"
                            >{{ "place_product" | translate }}
                          </label>
                          <select
                            class="form-control digits"
                            id="place_of_product"
                            [formControl]="brandForm.controls['placeOfProduct']"
                          >
                            <option value="Hong Kong">Hong Kong</option>
                            <option value=" Macau">Macau</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Japan">Japan</option>
                            <option value="China">China</option>
                            <option value="Singapore">Singapore</option>
                            <option value="South Korea">South Korea</option>
                            <option value="Thailand">Thailand</option>
                          </select>
                        </div>
                        <div class="col-xl-6 col-sm-12 mb-0">
                          <label for="deliver_from" class="required mb-0"
                            >{{ "deliver_from" | translate }}
                          </label>
                          <select 
                            class="form-control digits" 
                            id="deliver_from"
                            [formControl]="brandForm.controls['deliverFrom']"
                          >
                            <option value="Hong Kong">Hong Kong</option>
                            <option value=" Macau">Macau</option>
                            <option value="Taiwan">Taiwan</option>
                            <option value="Japan">Japan</option>
                            <option value="China">China</option>
                            <option value="Singapore">Singapore</option>
                            <option value="South Korea">South Korea</option>
                            <option value="Thailand">Thailand</option>
                            <option value="Malaysia">Malaysia</option>
                            <option value="other">Other</option>
                          </select>
                        </div>
                      </div>
                    </fieldset>
                  </div>
                  </form>
                </div>
              <div class="form-group row mb-0 footer">
                <div class="product-buttons col-sm-8 offset-xl-3 offset-sm-4">
                  <button 
                    type="button" 
                    class="btn btn-primary mr-1" 
                    (click)="createSeller()" 
                    [disabled]="sellerForm.invalid || brandForm.invalid || productWishImages.length === 0 ||  loading"
                  >
                    {{ "sign_up" | translate }}
                  </button>
                  <button
                    [routerLink]="'/login'"
                    type="button"
                    class="btn btn-danger mr-1"
                  >
                    {{ "cancel" | translate }}
                  </button>
                  
                    <img (click)="changeLanguage()" width="30" src="assets/images/icon.png" alt="change-lang-icon"
                      style="margin-left:10px;cursor:pointer;"/>
                  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Container-fluid Ends-->
