<!-- Container-fluid starts-->
<div class="container-fluid">
  <h3>Add New Post</h3>
  <div class="row">
    <div class="col-xl-8" style="padding-right: 0%">
      <div>
        <input
          class="form-control field-margin"
          [(ngModel)]="name"
          placeholder="{{ 'mag_name' | translate }}"
          id="name"
          name="name"
          type="text"
          required=""
        />
      </div>
      <br />
      <div style="background: white">
        <app-text-editor
          [(text)]="template"
          (textEmit)="handleChange($event, 'template')"
        ></app-text-editor>
      </div>
      <br />
    </div>
    <div class="col-xl-4" style="padding-left: 0%">
      <div style="display: flex; align-items: center; justify-content: center">
        <app-loader [loading]="loading"></app-loader>
      </div>
      <!-- <div *ngIf="!loading" style="display: grid; grid-gap: 10px"> -->
      <div>
        <div
          style="
            background: white;
            margin: 0px 10px;
            border-radius: 10px 10px 0px 0px;
            padding: 10px;
            border: solid lightgrey 1px;
            border-bottom: none;
          "
        >
          <div style="align-items: center">
            <h3>{{ "Publish" | translate }}</h3>
          </div>
          <hr />
          <div>
            <div style="justify-content: flex-end; display: flex">
              <!-- <button type="button" class="btn btn-primary">Save Draft</button> -->
              <button
                type="button"
                class="btn btn-primary"
                (click)="onViewTemplate(TemplateModal)"
              >
                preview
              </button>
            </div>
            <br />
            <div style="align-items: center; display: flex">
              <app-feather-icons
                [icon]="'key'"
                class="font-warning"
              ></app-feather-icons
              >&nbsp; <span>Status :</span>&nbsp;
              <div>
                <select
                  class="form-control"
                  id="status"
                  [(ngModel)]="status"
                  name="status"
                >
                  <option value="0">Draft</option>
                  <option value="1">Publish</option>
                </select>
              </div>
            </div>
            <br />
            <!-- <div style="align-items: center; display: flex">
              <app-feather-icons
                [icon]="'calendar'"
                class="font-warning"
              ></app-feather-icons
              >&nbsp; <span>Publish :</span>&nbsp;
              <div>
                <label for="publish">Select Publish</label>
                <select
                  class="form-control"
                  id="publish"
                  [(ngModel)]="publish"
                  name="publish"
                >
                  <option value="wrapping">Wrapping</option>
                  <option value="other">Other</option>
                </select>
              </div>
              
            </div> -->
          </div>
          <br />
        </div>
        <hr style="margin: 0px 10px" />
        <div
          style="
            margin: 0px 10px;
            border-radius: 0px 0px 10px 10px;
            padding: 10px;
            justify-content: space-between;
            display: flex;
            background: #f4f4f4;
            border: solid lightgrey 1px;
            border-top: none;
          "
        >
          <div
            style="
              color: #f88379;
              align-items: center;
              display: flex;
              font-weight: 500;
              cursor: pointer;
              padding: 0px 10px;
            "
            (click)="goBack()"
          >
            Go Back
          </div>
          <app-button
            [btnType]="'submit'"
            [loading]="false"
            [disabled]="loading"
            [btnText]="'Add Campaign'"
            (onSubmit)="onAddCampaign()"
          ></app-button>
        </div>
      </div>
      <!-- </div> -->
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>

<ng-template #TemplateModal let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Template</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div [innerHTML]="template"></div>
    <div class="action">
      <!-- <button class="btn btn-primary" type="button" (click)="onPublish()">
        Publish
      </button> -->
    </div>
  </div>
</ng-template>
