<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ "re_return_exchange" | translate }}</h5>
        </div>
        <div class="card-body">
          <div><a href="" style="font-size: large">Update Policy</a></div>
          <br />
          <div class="custom-datatable">
            <ngx-datatable
              class="bootstrap"
              [rows]="returnExchange"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
              [limit]="5"
            >
              <!-- <ngx-datatable-column prop="order id"></ngx-datatable-column> -->
              <ngx-datatable-column
                name="{{ 'returnexchange_products' | translate }}"
                prop="returnExchangeDetails"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ getProductsName(value) }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'returnexchange_type' | translate }}"
                prop="type"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'returnexchange_requestedon' | translate }}"
                prop="requestedOn"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ getFormatDate(value) }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'returnexchange_amount' | translate }}"
                prop="totalAmount"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'returnexchange_remarks' | translate }}"
                prop="requestReason"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'returnexchange_action' | translate }}"
                sortable="false"
                prop="order id"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <!-- <span style="color: #f88379; cursor: pointer">
                    <i class="fa fa-eye" (click)="onSelectRow(value)"></i>
                  </span>
                  <span style="color: #f88379; cursor: pointer">
                    <i class="fa fa-bell" (click)="onNotify(value)"></i>
                  </span> -->
                  <div>
                    <!-- <span style="color: #f88379; cursor: pointer">
                      <i class="fa fa-eye" (click)="onSelectRow(value)"></i>
                    </span> -->
                    <span
                      style="color: #f88379; cursor: pointer; margin-left: 10px"
                    >
                      <i class="fa fa-bell-o" (click)="onNotify(value)"></i>
                    </span>
                  </div>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template>
                  <div
                    class="pagination"
                    *ngIf="!loading"
                    style="margin-bottom: 10px; width: -webkit-fill-available"
                  >
                    <mat-paginator
                      style="width: -webkit-fill-available"
                      [pageIndex]="pagination.CurrentPage - 1"
                      [length]="pagination.TotalCount"
                      [pageSize]="pagination.PageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="pageEvent($event)"
                    >
                    </mat-paginator>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
