.green-status-class {
  color: green;
  background: #f8f8f8;
  font-weight: 600;
  padding: 0px 10px;
  border-radius: 6px;
}
.red-status-class {
  color: red;
  background: #f8f8f8;
  font-weight: 600;
  padding: 0px 10px;
  border-radius: 6px;
}
