$color-primary: #f88379;
$color-body-background: #eee;
$color-item-background: #fff;
$color-border: #ebeff6;
$color-label: #999;
$color-number: #525252;

h2 {
  color: #333;
  font-size: 28px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -0.015em;
  margin-bottom: 36px;
  max-width: 600px;
}

h2:before {
  background: $color-primary;
  content: "";
  display: block;
  height: 3px;
  margin: 26px 0;
  width: 50px;
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background-color: $color-body-background;
  max-width: 90%;
  margin: 1.5em auto;
  padding: 1rem;
}

ul .inner {
  padding-left: 0;
  overflow: hidden;
  display: none;
}

ul li {
  margin-bottom: 1rem;
  background-color: #fff;
  list-style: none;
}

thead {
  border-bottom: 1px solid #eee;
}

th,
td {
  box-sizing: border-box;
  padding: 12px 18px;
  font-size: 12px;
}

/* Base Styles */

.eodr-data-table {
  border-bottom: 1px solid #ebeff6;
  text-align: right;
  width: 100%;
}

.eodr-data-table-cell--non-numeric {
  text-align: left;
}

/* Accordion Component */

.accordion {
  padding: 0;
}

.accordion--toggle {
  width: 100%;
  display: block;
  background: #fff;
  border-bottom: 1px solid #ebeff6;
  color: #000;
  padding: 20px;
  border-radius: 0.15em;
  transition: background 0.3s ease;
}

.accordion--toggle:hover {
  background: #fff;
}

.accordion--item {
  background-color: #fff;
  position: relative;
  border-right: 1px solid #ebeff6;
  border-bottom: 1px solid #ebeff6;
  padding: 2rem;
  text-align: center;
  flex-grow: 1;
  flex-basis: 100%;
}

@media screen and (min-width: 40em) {
  .accordion--item {
    flex-basis: 33.33%;
  }
}

.accordion--item:nth-child(3),
.accordion--item:last-child {
  border-right: none;
}

.accordion--numberValue {
  font-size: 6.25rem;
}

.accordion--byline {
  color: #bbbbbb;
  display: block;
  font-size: 0.75rem;
}

.accordion--subitem {
  font-size: 14px;
}

.percentage-unit {
  font-size: 16px;
  position: absolute;
  top: 65px;
}

/* Flex Container */

.flex-container {
  display: flex;
  flex-wrap: wrap;
}

/* Collapsed/Expanded */

.toggle {
  position: relative;
}

.is-collapsed:after,
.is-expanded:after {
  font-family: "FontAwesome";
  font-size: 10px;
  position: absolute;
  right: 25px;
  top: 22px;
}

.is-collapsed:after {
  content: "\f078";
}

.is-expanded:after {
  content: "\f077";
}

.is-expanded {
  color: #d60c8c;
}

/* Flags */

.on-target {
  color: green;
}

/* Reporting Styles */

.report-dashboard {
  margin-bottom: 4rem;

  .row {
    margin-bottom: 1rem;
  }
}

.report-dashboard-item {
  background-color: $color-item-background;
  border-right: 1px solid $color-border;
  border-bottom: 1px solid $color-border;
  flex-grow: 1;
  flex-basis: 100%;
  text-align: center;
  padding: 2rem;
  position: relative;
  &:last-child {
    border-right: none;
  }
  @media screen and (min-width: 20em) {
    flex-basis: 1%;
  }
}

.report-dashboard-label {
  color: $color-label;
  display: block;
  font-size: 0.599rem;
  margin-bottom: 0.175rem;
}

.report-dashboard-number {
  color: $color-number;
  font-size: 1.30rem;
}

.dashboardReportBackground {
  background-color: #708238;
}
