<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-3 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="dashboardReportBackground card-body">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons
                  [icon]="'navigation'"
                  class="font-warning"
                ></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8">
              <span class="m-0">{{'dash_earnings' | translate}}</span>
              <h3 class="mb-0">
                $
                <span class="counter" [CountTo]="0" [from]="0" [duration]="2"
                  >0</span
                ><small> {{'dash_this_month' | translate}}</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-3 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="dashboardReportBackground card-body">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons
                  [icon]="'box'"
                  class="font-secondary"
                ></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8">
              <span class="m-0">{{'dash_total_active_products' | translate}}</span>
              <h3 class="mb-0">
                <span class="counter" [CountTo]="0" [from]="0" [duration]="2"
                  >0</span
                ><small> {{'dash_this_month' | translate}}</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="dashboardReportBackground card-body">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons
                  [icon]="'message-square'"
                  class="font-primary"
                ></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8">
              <span class="m-0">{{'dash_messages' | translate}}</span>
              <h3 class="mb-0">
                <span class="counter" [CountTo]="0" [from]="0" [duration]="2"
                  >0</span
                ><small> {{'dash_this_month' | translate}}</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-3 col-md-6 xl-50">
      <div class="card o-hidden widget-cards">
        <div class="dashboardReportBackground card-body">
          <div class="media static-top-widget row">
            <div class="icons-widgets col-4">
              <div class="align-self-center text-center">
                <app-feather-icons
                  [icon]="'users'"
                  class="font-danger"
                ></app-feather-icons>
              </div>
            </div>
            <div class="media-body col-8">
              <span class="m-0">{{'dash_new_followers' | translate}}</span>
              <h3 class="mb-0">
                <span class="counter" [CountTo]="0" [from]="0" [duration]="2"
                  >0</span
                ><small> {{'dash_this_month' | translate}}</small>
              </h3>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-6 xl-100">
            <div class="card">
                <div class="card-header">
                    <h5>Market Value</h5>
                </div>
                <div class="card-body">
                    <div class="market-chart">
                        <x-chartist class="board-chart ct-golden-section" [data]="chart3.data" [type]="chart3.type"
                            [options]="chart3.options" [events]="chart3.events">
                        </x-chartist>
                    </div>
                </div>
            </div>
        </div> -->
    <div class="col-xl-6 xl-100">
      <section class="report-dashboard">
        <div class="row align-items-center">
          <h2 class="col-8 report-dashboard-title">{{'dash_monthly_report' | translate}}</h2>
          <div class="col-4 text-right">
            <span
              class="d-flex align-items-center justify-content-end"
              style="cursor: pointer"
            >
              <app-feather-icons
                [icon]="'download'"
                class="font-primary"
              ></app-feather-icons>
              <span>{{'dash_export_report' | translate}}</span>
            </span>
          </div>
        </div>

        <div class="row">
          <!-- <div class="flex-container"> -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Net Profit</div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>80
              </div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Discounts</div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>16
              </div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Other Deductions</div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>6
              </div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Returns</div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>58
              </div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Total Reimbursement</div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>164
              </div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Total Orders</div>
              <div class="report-dashboard-number">1,234</div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Delivered Orders</div>
              <div class="report-dashboard-number">820</div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Cancelled Orders</div>
              <div class="report-dashboard-number">240</div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Returned Orders</div>
              <div class="report-dashboard-number">230</div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Replaced Orders</div>
              <div class="report-dashboard-number">58</div>
            </div>
            <div class="report-dashboard-item">
              <div class="report-dashboard-label">
                Transaction Management Fee
              </div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>12
              </div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- <div class="report-dashboard-item">
              <div class="report-dashboard-label">Online Payment Fee</div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>5
              </div>
            </div> -->
          <!-- /.report-dashboard-item -->
          <!-- </div> -->

          <!-- /.flex-container -->
          <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">{{'dash_amount' | translate}}</th>
                <!-- <th scope="col">Other Deductions</th>
                <th scope="col">Returns</th> -->
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">{{'dash_net_profit' | translate}}</th>
                <td>$80</td>
                <!-- <td>Otto</td>
                <td>@mdo</td> -->
              </tr>
              <tr>
                <th scope="row">{{'dash_discounted' | translate}}</th>
                <td>$16</td>
                <!-- <td>Thornton</td>
                <td>@fat</td> -->
              </tr>
              <tr>
                <th scope="row">{{'dash_referral_deduction' | translate}}</th>
                <td>$6</td>
                <!-- <td>the Bird</td>
                <td>@twitter</td> -->
              </tr>
              <tr>
                <th scope="row">{{'dash_refund' | translate}}</th>
                <td>$58</td>
                <!-- <td>the Bird</td>
                <td>@twitter</td> -->
              </tr>
              <tr>
                <th scope="row">{{'dash_coupons' | translate}}</th>
                <td>$164</td>
                <!-- <td>the Bird</td>
                <td>@twitter</td> -->
              </tr>
              <tr>
                <th scope="row">{{'dash_transaction_management_fee' | translate}}</th>
                <td>$1,234</td>
                <!-- <td>the Bird</td>
                <td>@twitter</td> -->
              </tr>
              <tr>
                <th scope="row">{{'dash_online_payment_fee' | translate}}</th>
                <td>$820</td>
                <!-- <td>the Bird</td>
                <td>@twitter</td> -->
              </tr>
              <tr>
                <th scope="row">{{'dash_total_reimbursement' | translate}}</th>
                <td>$240</td>
                <!-- <td>the Bird</td>
                <td>@twitter</td> -->
              </tr>
              <tr>
                <th scope="row">{{'dash_total_orders' | translate}}</th>
                <td>230</td>
              </tr>
              <tr>
                <th scope="row">{{'dash_delivered_orders' | translate}}</th>
                <td>158</td>
              </tr>
              <tr>
                <th scope="row">{{'dash_cancelled_orders' | translate}}</th>
                <td>12</td>
              </tr>
              <tr>
                <th scope="row">{{'dash_returned_orders' | translate}}</th>
                <td>5</td>
              </tr>
              <tr>
                <th scope="row">{{'dash_exchanged_orders' | translate}}</th>
                <td>25</td>
              </tr>
            </tbody>
          </table>
        </div>
        <!-- /.row -->
        <h2 class="report-dashboard-title">{{'dash_shipping_cost' | translate}}</h2>
        <div class="row">
          <div class="flex-container">
            <div class="report-dashboard-item">
              <div class="report-dashboard-label">{{'dash_shipped_via_own_account' | translate}}</div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>79
              </div>
            </div>
            <div class="report-dashboard-item">
              <div class="report-dashboard-label">
                {{'dash_shipped_via_marketoo_account' | translate}}
              </div>
              <div class="report-dashboard-number">
                <span class="dollar-unit">$</span>129
              </div>
            </div>
          </div>
          <!-- /.flex-container -->
        </div>
      </section>
    </div>

    <div class="col-md-4 col-sm-6">
      <div class="card order-graph sales-carousel">
        <div class="card-header">
          <h6 style="font-family: sans-serif; font-weight: 600;">{{'dash_total_revenue' | translate}}</h6>
          <div class="row">
            <div class="col-6">
              <div class="small-chartjs">
                <canvas
                  baseChart
                  id="small-graph-1"
                  height="60vw"
                  width="140vw"
                  [datasets]="smallLineChartData"
                  [labels]="smallLineChartLabels"
                  [options]="smallLineChartOptions"
                  [colors]="smallLineChartColors"
                  [legend]="smallLineChartLegend"
                  [chartType]="smallLineChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                ></canvas>
              </div>
            </div>
            <div class="col-6">
              <div class="value-graph">
                <h3>
                  42% 
                  <!-- <span><i class="fa fa-angle-up font-primary"></i></span> -->
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <span style="font-weight: 600;">{{'dash_compared_to_last_month' | translate}}</span>
              <h2 class="mb-0">0</h2>
              <p>
                0.25% 
                <!-- <span><i class="fa fa-angle-up"></i></span> -->
              </p>
              <!-- <h5 class="f-w-600">Gross sales of August</h5>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
              </p> -->
            </div>
            <!-- <div class="bg-primary b-r-8">
              <div class="small-box">
                <i data-feather="briefcase"></i>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-sm-6">
      <div class="card order-graph sales-carousel">
        <div class="card-header">
          <h6 style="font-family: sans-serif;font-weight: 600;">{{'dash_average_basket_value' | translate}}</h6>
          <div class="row">
            <div class="col-6">
              <div class="small-chartjs">
                <canvas
                  baseChart
                  id="small-graph-2"
                  height="60vw"
                  width="140vw"
                  [datasets]="smallLine2ChartData"
                  [labels]="smallLine2ChartLabels"
                  [options]="smallLine2ChartOptions"
                  [colors]="smallLine2ChartColors"
                  [legend]="smallLine2ChartLegend"
                  [chartType]="smallLine2ChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                ></canvas>
              </div>
            </div>
            <div class="col-6">
              <div class="value-graph">
                <h3>
                  20% <span>
                    <!-- <i class="fa fa-angle-up font-secondary"></i> -->
                  </span>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <span style="font-weight: 600;">{{'dash_compared_to_last_month' | translate}}</span>
              <h2 class="mb-0">0</h2>
              <p>
                0.13% <span>
                  <!-- <i class="fa fa-angle-up"></i> -->
                </span>
              </p>
              <!-- <h5 class="f-w-600">Avg Gross purchase</h5>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
              </p> -->
            </div>
            <!-- <div class="bg-secondary b-r-8">
              <div class="small-box">
                <i data-feather="credit-card"></i>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-xl-3 col-md-4 xl-50">
      <div class="card order-graph sales-carousel">
        <div class="card-header">
          <h6>Total cash transaction</h6>
          <div class="row">
            <div class="col-6">
              <div class="small-chartjs">
                <canvas
                  baseChart
                  id="small-graph-3"
                  height="60vw"
                  width="140vw"
                  [datasets]="smallLine3ChartData"
                  [labels]="smallLine3ChartLabels"
                  [options]="smallLine3ChartOptions"
                  [colors]="smallLine3ChartColors"
                  [legend]="smallLine3ChartLegend"
                  [chartType]="smallLine3ChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                ></canvas>
              </div>
            </div>
            <div class="col-6">
              <div class="value-graph">
                <h3>
                  28% <span><i class="fa fa-angle-up font-warning"></i></span>
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <span>Cash on hand</span>
              <h2 class="mb-0">0</h2>
              <p>
                0.8% <span><i class="fa fa-angle-up"></i></span>
              </p>
              <h5 class="f-w-600">Details about cash</h5>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
              </p>
            </div>
            <div class="bg-warning b-r-8">
              <div class="small-box">
                <i data-feather="shopping-cart"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->
    <div class="col-md-4 col-sm-6">
      <div class="card order-graph sales-carousel">
        <div class="card-header">
          <h6 style="font-family: sans-serif;font-weight: 600;">{{'dash_new_followers' | translate}}</h6>
          <div class="row">
            <div class="col-6">
              <div class="small-chartjs">
                <canvas
                  baseChart
                  id="small-graph-4"
                  height="60vw"
                  width="140vw"
                  [datasets]="smallLine4ChartData"
                  [labels]="smallLine4ChartLabels"
                  [options]="smallLine4ChartOptions"
                  [colors]="smallLine4ChartColors"
                  [legend]="smallLine4ChartLegend"
                  [chartType]="smallLine4ChartType"
                  (chartHover)="chartHovered($event)"
                  (chartClick)="chartClicked($event)"
                ></canvas>
              </div>
            </div>
            <div class="col-6">
              <div class="value-graph">
                <h3>
                  75% 
                  <!-- <span><i class="fa fa-angle-up font-danger"></i></span> -->
                </h3>
              </div>
            </div>
          </div>
        </div>
        <div class="card-body">
          <div class="media">
            <div class="media-body">
              <span style="font-weight: 600;">{{'dash_compared_to_last_month' | translate}}</span>
              <h2 class="mb-0">0</h2>
              <p>
                0.25% 
                <!-- <span><i class="fa fa-angle-up"></i></span> -->
              </p>
              <!-- <h5 class="f-w-600">Followers of June</h5>
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
              </p> -->
            </div>
            <!-- <div class="bg-danger b-r-8">
              <div class="small-box">
                <i data-feather="calendar"></i>
              </div>
            </div> -->
          </div>
        </div>
      </div>
    </div>
    <div class="col-xl-6 xl-100">
      <div class="card">
        <div class="card-header">
          <h5>{{'dash_latest_orders' | translate}}</h5>
        </div>
        <div class="card-body">
          <div class="user-status table-responsive latest-order-table">
            <table class="table table-bordernone">
              <thead>
                <tr>
                  <th scope="col">{{'dash_order_ID' | translate}}</th>
                  <th scope="col">{{'dash_order_total' | translate}}</th>
                  <th scope="col">{{'dash_product_name' | translate}}</th>
                  <th scope="col">{{'dash_status' | translate}}</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td class="digits">$120.00</td>
                  <td class="font-secondary">XXXXXXX</td>
                  <td class="digits">On Way</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td class="digits">$90.00</td>
                  <td class="font-secondary">XXXXXXX</td>
                  <td class="digits">Delivered</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td class="digits">$240.00</td>
                  <td class="font-secondary">XXXXXXX</td>
                  <td class="digits">Delivered</td>
                </tr>
                <tr>
                  <td>4</td>
                  <td class="digits">$120.00</td>
                  <td class="font-secondary">XXXXXXX</td>
                  <td class="digits">$6523</td>
                </tr>
                <tr>
                  <td>5</td>
                  <td class="digits">$50.00</td>
                  <td class="font-secondary">XXXXXXX</td>
                  <td class="digits">Delivered</td>
                </tr>
              </tbody>
            </table>
            <span class="btn btn-primary">{{'dash_view_all_orders' | translate}}</span>
          </div>
        </div>
      </div>
    </div>
    <!-- <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Buy / Sell</h5>
                </div>
                <div class="card-body sell-graph">
                    <canvas baseChart id="myGraph" [datasets]="lineChartData" [labels]="lineChartLabels"
                        [options]="lineChartOptions" [colors]="lineChartColors" [legend]="lineChartLegend"
                        [chartType]="lineChartType" (chartHover)="chartHovered($event)"
                        (chartClick)="chartClicked($event)"></canvas>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Products Cart</h5>
                </div>
                <div class="card-body">
                    <div class="user-status table-responsive products-table">
                        <table class="table table-bordernone mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Details</th>
                                    <th scope="col">Quantity</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>Simply dummy text of the printing</td>
                                    <td class="digits">1</td>
                                    <td class="font-primary">Pending</td>
                                    <td class="digits">$6523</td>
                                </tr>
                                <tr>
                                    <td>Long established</td>
                                    <td class="digits">5</td>
                                    <td class="font-secondary">Cancle</td>
                                    <td class="digits">$6523</td>
                                </tr>
                                <tr>
                                    <td>sometimes by accident</td>
                                    <td class="digits">10</td>
                                    <td class="font-secondary">Cancle</td>
                                    <td class="digits">$6523</td>
                                </tr>
                                <tr>
                                    <td>Classical Latin literature</td>
                                    <td class="digits">9</td>
                                    <td class="font-primary">Return</td>
                                    <td class="digits">$6523</td>
                                </tr>
                                <tr>
                                    <td>keep the site on the Internet</td>
                                    <td class="digits">8</td>
                                    <td class="font-primary">Pending</td>
                                    <td class="digits">$6523</td>
                                </tr>
                                <tr>
                                    <td>Molestiae consequatur</td>
                                    <td class="digits">3</td>
                                    <td class="font-secondary">Cancle</td>
                                    <td class="digits">$6523</td>
                                </tr>
                                <tr>
                                    <td>Pain can procure</td>
                                    <td class="digits">8</td>
                                    <td class="font-primary">Return</td>
                                    <td class="digits">$6523</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-xl-6 xl-100">
            <div class="card height-equal">
                <div class="card-header">
                    <h5>Empolyee Status</h5>
                </div>
                <div class="card-body">
                    <div class="user-status table-responsive products-table">
                        <table class="table table-bordernone mb-0">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">Designation</th>
                                    <th scope="col">Skill Level</th>
                                    <th scope="col">Experience</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td class="bd-t-none u-s-tb">
                                        <div class="align-middle image-sm-size"><img
                                                class="img-radius align-top m-r-15 rounded-circle"
                                                src="assets/images/dashboard/user2.jpg" alt="" data-original-title=""
                                                title="">
                                            <div class="d-inline-block">
                                                <h6>John Deo <span class="text-muted digits">(14+ Online)</span></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Designer</td>
                                    <td>
                                        <div class="progress-showcase">
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                    style="width: 30%" aria-valuenow="50" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="digits">2 Year</td>
                                </tr>
                                <tr>
                                    <td class="bd-t-none u-s-tb">
                                        <div class="align-middle image-sm-size"><img
                                                class="img-radius align-top m-r-15 rounded-circle"
                                                src="assets/images/dashboard/user1.jpg" alt="" data-original-title=""
                                                title="">
                                            <div class="d-inline-block">
                                                <h6>Holio Mako <span class="text-muted digits">(250+ Online)</span></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Developer</td>
                                    <td>
                                        <div class="progress-showcase">
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar bg-secondary" role="progressbar"
                                                    style="width: 70%" aria-valuenow="50" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="digits">3 Year</td>
                                </tr>
                                <tr>
                                    <td class="bd-t-none u-s-tb">
                                        <div class="align-middle image-sm-size"><img
                                                class="img-radius align-top m-r-15 rounded-circle"
                                                src="assets/images/dashboard/man.png" alt="" data-original-title=""
                                                title="">
                                            <div class="d-inline-block">
                                                <h6>Mohsib lara<span class="text-muted digits">(99+ Online)</span></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Tester</td>
                                    <td>
                                        <div class="progress-showcase">
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                    style="width: 60%" aria-valuenow="50" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="digits">5 Month</td>
                                </tr>
                                <tr>
                                    <td class="bd-t-none u-s-tb">
                                        <div class="align-middle image-sm-size"><img
                                                class="img-radius align-top m-r-15 rounded-circle"
                                                src="assets/images/dashboard/user.png" alt="" data-original-title=""
                                                title="">
                                            <div class="d-inline-block">
                                                <h6>Hileri Soli <span class="text-muted digits">(150+ Online)</span>
                                                </h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Designer</td>
                                    <td>
                                        <div class="progress-showcase">
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar bg-secondary" role="progressbar"
                                                    style="width: 30%" aria-valuenow="50" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="digits">3 Month</td>
                                </tr>
                                <tr>
                                    <td class="bd-t-none u-s-tb">
                                        <div class="align-middle image-sm-size"><img
                                                class="img-radius align-top m-r-15 rounded-circle"
                                                src="assets/images/dashboard/designer.jpg" alt=""
                                                data-original-title="" title="">
                                            <div class="d-inline-block">
                                                <h6>Pusiz bia <span class="text-muted digits">(14+ Online)</span></h6>
                                            </div>
                                        </div>
                                    </td>
                                    <td>Designer</td>
                                    <td>
                                        <div class="progress-showcase">
                                            <div class="progress" style="height: 8px;">
                                                <div class="progress-bar bg-primary" role="progressbar"
                                                    style="width: 90%" aria-valuenow="50" aria-valuemin="0"
                                                    aria-valuemax="100"></div>
                                            </div>
                                        </div>
                                    </td>
                                    <td class="digits">5 Year</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="card">
                <div class="card-header">
                    <h5>Sales Status</h5>
                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-xl-3 col-sm-6 xl-50">
                            <div class="order-graph">
                                <h6>Orders By Location</h6>
                                <div class="chart-block chart-vertical-center">
                                    <ngx-charts-pie-chart class="pie-colours-1" [view]="view"
                                        [scheme]="doughnutChartColorScheme" [results]="pieData" [explodeSlices]="false"
                                        [labels]="doughnutChartShowLabels" [arcWidth]=0.50 [doughnut]="true"
                                        [animations]="false" [tooltipDisabled]="doughnutChartTooltip"
                                        [gradient]="doughnutChartGradient">
                                    </ngx-charts-pie-chart>
                                </div>
                                <div class="order-graph-bottom">
                                    <div class="media">
                                        <div class="order-color-primary"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Saint Lucia <span class="pull-right">$157</span></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="order-color-secondary"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Kenya <span class="pull-right">$347</span></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="order-color-danger"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Liberia<span class="pull-right">$468</span></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="order-color-warning"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Christmas Island<span class="pull-right">$742</span></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="order-color-success"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0">Saint Helena <span class="pull-right">$647</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-3 col-sm-6 xl-50">
                            <div class="order-graph sm-order-space">
                                <h6>Sales By Location</h6>
                                <div class="peity-chart-dashboard text-center chart-vertical-center">
                                    <ngx-charts-pie-chart class="pie-colours-1" [view]="view"
                                        [scheme]="doughnutChartColorScheme" [results]="doughnutData"
                                        [explodeSlices]="false" [labels]="doughnutChartShowLabels" [arcWidth]=0.99
                                        [doughnut]="true" [animations]="false" [tooltipDisabled]="doughnutChartTooltip"
                                        [gradient]="doughnutChartGradient">
                                    </ngx-charts-pie-chart>
                                </div>
                                <div class="order-graph-bottom sales-location">
                                    <div class="media">
                                        <div class="order-shape-primary"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 mr-0">Germany <span class="pull-right">25%</span></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="order-shape-secondary"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 mr-0">Brasil <span class="pull-right">10%</span></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="order-shape-danger"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 mr-0">United Kingdom<span class="pull-right">34%</span></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="order-shape-warning"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 mr-0">Australia<span class="pull-right">5%</span></h6>
                                        </div>
                                    </div>
                                    <div class="media">
                                        <div class="order-shape-success"></div>
                                        <div class="media-body">
                                            <h6 class="mb-0 mr-0">Canada <span class="pull-right">25%</span></h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-6 xl-100">
                            <div class="order-graph xl-space">
                                <h6>Revenue for last month</h6>
                                <div class="ct-4 flot-chart-container">
                                    <x-chartist [type]="chart5.type" [data]="chart5.data" [options]="chart5.options">
                                    </x-chartist>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> -->
  </div>
</div>
<!-- Container-fluid Ends-->
