<div style="height: 100%; min-height: 300px">
  <div class="row" style="height: 100%">
    <div class="col-sm-12">
      <div class="card chat-container">
        <div class="card-header">
          <!-- <h5>{{user.name}}</h5> -->
          <ul class="list">
            <li class="clearfix">
              <img
                class="rounded-circle user-image blur-up lazyloaded"
                [src]="
                  user.imageUrl ? user.imageUrl : 'assets/images/team/1.jpg'
                "
                alt=""
              />
              <div
                class="status-circle offline"
                [ngClass]="{ online: userStatus(user.senderId) }"
              ></div>
              <div class="about">
                <div class="name">{{ user?.name }}</div>
                <div class="status">{{ user?.status }}</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-body content" #scrollMe [scrollTop]="onScroll">
          <div
            style="display: flex; align-items: center; justify-content: center"
            *ngIf="loading"
          >
            <app-loader [loading]="loading"></app-loader>
          </div>
          <ul>
            <li
              [ngClass]="{ right: msg.receiverId === user.senderId }"
              *ngFor="let msg of messages"
            >
              <span class="msg" *ngIf="msg.text">{{ msg.text }}</span>
              <span class="msg" *ngIf="msg.Text">{{ msg.Text }}</span>
            </li>
          </ul>
        </div>
        <div class="action-footer">
          <form class="needs-validation">
            <div
              style="
                display: grid;
                grid-template-columns: 1fr 9fr 1fr;
                margin-top: 5px;
              "
            >
              <div class="icon-btn">
                <span>
                  <app-feather-icons
                    [icon]="'paperclip'"
                    class="font-primary"
                    style="color: #fff !important"
                  ></app-feather-icons>
                </span>
              </div>
              <div>
                <input
                  type="text"
                  name="msg"
                  [(ngModel)]="msg"
                  placeholder="{{ 'messeges_Typehere' | translate }}"
                />
              </div>
              <div class="icon-btn">
                <span>
                  <app-feather-icons
                    [icon]="'send'"
                    class="font-primary"
                    style="color: #fff !important"
                    (click)="sendMessage()"
                  ></app-feather-icons>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
