<div style="height: 100%; min-height: 300px">
  <div class="row" style="height: 100%">
    <div class="col-sm-12">
      <div class="card chat-container">
        <div class="card-header">
          <!-- <h5>{{user.name}}</h5> -->
          <ul class="list">
            <li class="clearfix">
              <img
                class="rounded-circle user-image blur-up lazyloaded"
                [src]="
                  user.imageUrl ? user.imageUrl : 'assets/images/team/1.jpg'
                "
                alt=""
              />
              <div
                class="status-circle offline"
                [ngClass]="{ online: userStatus(user.senderId) }"
              ></div>
              <div class="about">
                <div class="name">{{ user?.name }}</div>
                <div class="status">{{ user?.status }}</div>
              </div>
            </li>
          </ul>
        </div>
        <div class="card-body content" #scrollMe [scrollTop]="onScroll">
          <div
            style="display: flex; align-items: center; justify-content: center"
            *ngIf="loading"
          >
            <app-loader [loading]="loading"></app-loader>
          </div>
          <ul>
            <li
              class="msg-list"
              [ngClass]="{
                right: msg.receiverId === user.senderId,
                left: msg.receiverId !== user.senderId
              }"
              *ngFor="let msg of messages"
            >
              <div
                class="msg-container"
                [style.text-align]="
                  msg.receiverId === user.senderId
                    ? '-webkit-right'
                    : '-webkit-left'
                "
              >
                <span
                  class="msg"
                  [style.display]="msgContainerStyle(msg)"
                  *ngIf="msg.text || msg.images.length"
                >
                  <span>{{ msg.text }}</span>
                  <span
                    class="img-list"
                    *ngIf="msg.images && msg.images.length"
                  >
                    <span class="img-container" *ngFor="let img of msg.images">
                      <a
                        style="position: absolute; right: 0"
                        class="download-icon"
                        [href]="img"
                        download=""
                        target="_blank"
                      >
                        <app-feather-icons
                          [icon]="'download'"
                          class="font-primary"
                        ></app-feather-icons>
                        <!-- (click)="downloadImage(img)" -->
                      </a>
                      <img
                        class="img-fluid img-90 rounded blur-up lazyloaded"
                        [src]="img ? img : 'assets/images/product-list/001.jpg'"
                        alt="chat-image"
                      />
                      <br />
                    </span>
                  </span>
                </span>
              </div>
              <!-- <span class="msg" *ngIf="msg.Text">{{ msg.Text }}</span> -->
            </li>
          </ul>
        </div>
        <div class="action-footer">
          <div class="attachment-container" *ngIf="enableAttachment">
            <span class="close-btn">
              <app-feather-icons
                [icon]="'x-circle'"
                class="font-primary"
                (click)="showDropzone(false)"
              ></app-feather-icons>
            </span>
            <div class="row">
              <div class="col-12">
                <dropzone
                  [config]="config"
                  [message]="'Click or drag images here to upload'"
                  (error)="onUploadError($event)"
                  (addedFile)="fileAdded($event)"
                  (removedFile)="removeFile($event)"
                ></dropzone>
              </div>
            </div>
          </div>
          <form class="needs-validation" (submit)="sendMessage()">
            <div
              style="
                display: grid;
                grid-template-columns: 1fr 9fr 1fr;
                margin-top: 5px;
              "
            >
              <div class="icon-btn">
                <span>
                  <app-feather-icons
                    [icon]="'paperclip'"
                    class="font-primary"
                    style="color: #fff !important"
                    (click)="showDropzone(true)"
                  ></app-feather-icons>
                </span>
              </div>
              <div>
                <input
                  type="text"
                  name="msg"
                  [(ngModel)]="msg"
                  placeholder="{{ 'messeges_Typehere' | translate }}"
                />
              </div>
              <div class="icon-btn">
                <span>
                  <app-feather-icons
                    [icon]="'send'"
                    class="font-primary"
                    style="color: #fff !important"
                    [style.pointer-events]="isSending ? 'none' : 'auto'"
                    (click)="sendMessage()"
                  ></app-feather-icons>
                </span>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
