.field-margin {
  margin: 10px 0px;
}

.full-width {
  width: -webkit-fill-available;
}
.btn-primary {
  background-color: #f88379 !important;
  background: #f88379 !important;
  border-color: #f88379 !important;
}
.btn-primary:hover {
  background-color: #f88379;
  background: #f88379;
  border-color: #f88379;
}
.justify-content-start {
  justify-content: space-around !important;
}
