<div class="container-fluid">
  <div class="card">
    <div class="product-page-main card-body">
      <div style="display: flex; align-items: center; justify-content: center">
        <app-loader [loading]="loading"></app-loader>
      </div>
      <div class="row" *ngIf="!loading">
        <div class="col-xl-4">
          <div style="border: 1px solid #ddd; padding: 15px 10px 10px 10px">
            <h4>Category</h4>
            <h6>{{ productDetails.category }}</h6>
            <hr style="margin: 10px 0px" />
            <h4>Sub Category</h4>
            <h6>{{ productDetails.subCategory }}</h6>
            <hr style="margin: 10px 0px" />
            <h4>Extended Sub Category</h4>
            <h6>{{ productDetails.extendedSubCategory }}</h6>
          </div>
          <hr />
          <div style="padding: 10px">
            <h4 style="font-weight: 500">Promotion</h4>
            <h6 class="mb-0">
              {{ productDetails.promotions }}
            </h6>
          </div>
          <hr />
          <div
            class="about-seller border-product"
            style="border: 1px solid #ddd; padding: 15px 10px 10px 10px"
          >
            <h4 class="product-title mb-2">About Seller</h4>
            <div
              style="
                display: flex;
                align-items: center;
                justify-content: space-around;
              "
            >
              <div class="mr-1">
                <img
                  alt="seller-image"
                  style="width: 50px"
                  [src]="productDetails.sellerImage"
                />
              </div>
              <div>
                <strong>{{ productDetails.sellerEnglishFName }}</strong>
                <!-- <p>GD Products</p>
                <p>View Detail</p> -->
              </div>
            </div>
          </div>
        </div>
        <div class="col-xl-4">
          <section>
            <ks-carousel
              [id]="100"
              [images]="imagesRect"
              [dotsConfig]="{ visible: true }"
              [carouselConfig]="{ maxHeight: '600px', keyboardEnable: true }"
              [previewConfig]="{ maxHeight: '125px' }"
            >
            </ks-carousel>
          </section>
        </div>
        <div class="col-xl-4">
          <div class="product-page-details product-right mb-0">
            <h2>{{ productDetails.name }}</h2>
            <app-rating
              [rating]="productDetails.rating"
              [readonly]="true"
            ></app-rating>
            <!-- <ngb-rating
              [rate]="productDetails.rating"
              class="rating-size-product"
              [readonly]="true"
            ></ngb-rating> -->
            <hr />
            <h6 class="product-title">product details</h6>
            <p class="mb-0">
              {{ productDetails.description }}
            </p>
            <div class="product-price digits mt-2">
              <h3>
                ${{ productDetails.price }}
                <del>${{ productDetails.markdownPrice }}</del>
              </h3>
            </div>
            <hr />
            <h6 class="product-title size-text mb-1">Colors</h6>
            <ul class="color-variant">
              <li
                class=""
                *ngFor="let color of productDetails.availableColors"
                [ngStyle]="{ backgroundColor: color }"
              ></li>
              <!-- <li class="bg-light1"></li>
              <li class="bg-light2"></li> -->
            </ul>
            <hr />
            <h6 class="product-title size-text">
              Size
              <span class="pull-right" *ngIf="productDetails.customSize">
                <a
                  data-toggle="modal"
                  (click)="open(content)"
                  class="font-primary"
                  >size chart</a
                >
              </span>
            </h6>
            <ng-template #content let-modal>
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Size Chart</h5>
                <button
                  type="button"
                  class="close"
                  aria-label="Close"
                  (click)="modal.dismiss('Cross click')"
                >
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <img
                  [src]="productDetails.customImageUrl"
                  alt=""
                  class="img-fluid blur-up lazyloaded"
                />
                <!-- src="assets/images/size-chart.jpg" -->
              </div>
            </ng-template>
            <div class="size-box">
              <ul>
                <!-- <li class="active"><a href="javascript:void(0)">s</a></li>
                <li><a href="javascript:void(0)">m</a></li>
                <li><a href="javascript:void(0)">l</a></li> -->
                <li>
                  <a
                    href="javascript:void(0)"
                    *ngFor="let size of productDetails.availableSizes"
                    >{{ size }}</a
                  >
                </li>
              </ul>
            </div>
            <div class="add-product-form">
              <h6 class="product-title">quantity</h6>
              <h5>{{ productDetails.quantity }}</h5>
              <!-- <div class="qty-box1">
                <div class="input-group">
                  <i class="fa fa-minus btnGtr1" (click)="decrement()"></i>
                  <input
                    class="touchspin1 text-center"
                    name="counter"
                    [value]="counter"
                    type="text"
                  />
                  <i class="fa fa-plus btnLess1" (click)="increment()"></i>
                </div>
              </div> -->
            </div>
            <hr />
            <!-- <h6 class="product-title">Time Reminder</h6>
            <div class="timer">
              <p id="demo">
                <span
                  >25 <span class="padding-l">:</span>
                  <span class="timer-cal">Days</span> </span
                ><span
                  >22 <span class="padding-l">:</span>
                  <span class="timer-cal">Hrs</span> </span
                ><span
                  >13 <span class="padding-l">:</span>
                  <span class="timer-cal">Min</span> </span
                ><span>57 <span class="timer-cal">Sec</span></span>
              </p>
            </div>
            <div class="m-t-15">
              <button class="btn btn-primary m-r-10" type="button">
                Add To Cart
              </button>
              <button class="btn btn-secondary" type="button">Buy Now</button>
            </div> -->
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
