<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div
          class="card-header"
          style="display: flex; justify-content: space-between"
        >
          <h5>{{ "Promotions" | translate }}</h5>
          <!-- *ngIf="editable" -->
          <app-button
            style="margin-left: 10px"
            [btnType]="'submit'"
            [loading]="loading"
            [disabled]="loading"
            [btnText]="editable ? 'Update' : 'Edit'"
            (onSubmit)="!editable ? onEditClick() : onUpdate()"
          ></app-button>
        </div>
        <div class="card-body">
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <app-loader [loading]="loading"></app-loader>
          </div>
          <div class="custom-datatable" *ngIf="!loading">
            <div>
              <!-- <h3>{{ "ab_privacy_policies" | translate }}</h3> -->
              <div style="background: white">
                <div [innerHTML]="promotionText" *ngIf="!editable"></div>
                <app-text-editor
                  *ngIf="editable"
                  [(text)]="promotionText"
                  (textEmit)="handleChange($event, 'promotionText')"
                ></app-text-editor>
              </div>
              <hr />
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Container-fluid Ends-->
  </div>
</div>
