.heading-border{
    max-width: 8%;
    margin: 0 auto;
    background-color: #4B5335;
    height: 5px;
    border-radius: 15px;
}

.images-ul{
    display: flex;
}

.footer{
    text-align: right;
    margin-top: 30px;
}

.fieldset{
    border-color: #4B5335;
    border-width: 2px;
    border-radius: 20px;
    padding:25px;
}

.legend{
    width: auto;
    font-size: 18px;
}