<div>
  <div class="container p-0">
    <div class="modal-header p-l-20 p-r-20" style="align-items: center">
      <div class="col-sm-3 p-0">
        <h3 class="modal-title font-weight-bold">
          {{
            (isSeller ? "messages_sellers" : "messages_customers") | translate
          }}
        </h3>
      </div>
      <!-- <div class="col-sm-4 text-right p-0"><i class="mr-2" data-feather="settings"></i></div> -->
      <div class="form-button">
        <button
          (click)="changeSellerCustomer()"
          class="btn btn-custom"
          style="padding: 5px 10px"
          ngbTooltip="Click to Change between Sellers & Customers"
        >
          <!-- {{ "LOGIN" | translate }} -->
          <app-feather-icons
            [icon]="'refresh-cw'"
            class="font-secondary"
          ></app-feather-icons>
          <!-- <i class="mr-2" data-feather="settings"></i> -->
        </button>
      </div>
    </div>
  </div>
  <div class="friend-list-search mt-0">
    <input type="text" placeholder="{{ 'message_search' | translate }}" /><i
      class="fa fa-search"
    ></i>
  </div>
  <div class="p-l-30 p-r-30">
    <div class="chat-box">
      <div class="people-list friend-list">
        <ul class="list">
          <li
            class="clearfix"
            *ngFor="let user of users"
            (click)="onUserClick(user)"
            style="cursor: pointer"
          >
            <img
              class="rounded-circle user-image blur-up lazyloaded"
              [src]="user.img"
              alt=""
            />
            <div class="status-circle online"></div>
            <div class="about">
              <div class="name">{{ user.name }}</div>
              <div class="status">{{ user.status }}</div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
