<div class="container-fluid">
  <div class="card">
    <div class="row product-page-main card-body">
      <div class="col-xl-8">
        <div class="product-page-details product-right mb-0">
          <div class="row">
            <h2 class="col-12 col-md-12">
              {{ "re_return_details" | translate }}
            </h2>
          </div>
          <hr />
          <div class="container-gap">
            <span
              (click)="showDetail(Document)"
              style="cursor: pointer; color: tomato"
              >Read more about Returned and Exchange Policy
            </span>
            <!-- <p class="mb-0">{{ "re_desc" | translate }}</p> -->

            <div style="margin-top: 30px">
              <div>
                <div style="display: grid; grid-template-columns: 4fr 1fr 1fr">
                  <span
                    ><b>{{ "re_product" | translate }}</b></span
                  >
                  <span
                    ><b>{{ "re_qty" | translate }}</b></span
                  >
                  <span
                    ><b>{{ "re_price" | translate }}</b></span
                  >
                </div>
                <hr />
                <ul>
                  <li
                    style="margin-bottom: 10px"
                    *ngFor="let prod of dummyData.products"
                  >
                    <div
                      style="
                        display: grid;
                        grid-template-columns: 4fr 1fr 1fr;
                        align-items: center;
                      "
                    >
                      <div>
                        <figure style="margin: 0px">
                          <img [src]="prod.img" class="img-50" />
                          <figcaption>{{ prod.name }}</figcaption>
                        </figure>
                      </div>
                      <div>
                        <span>{{ prod.qty }}</span>
                      </div>
                      <div>
                        <span>${{ prod.price }}HKD</span>
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
            <div style="margin-top: 30px">
              <h4 class="product-title">{{ "re_refund_rej" | translate }}</h4>
              <hr />
              <div style="margin-top: 20px">
                <div>
                  <label for="refund_reason">{{
                    "re_refunf_reason" | translate
                  }}</label>
                  <select
                    class="form-control"
                    id="refund_reason"
                    [(ngModel)]="refund_reason"
                    name="refund_reason"
                  >
                    <option value="faulty">{{'Mismatched items' | translate}}</option>
                    <option value="faulty">{{'Faulty items' | translate}}</option>
                    <option value="faulty">{{'Wrong size' | translate}}</option>
                  </select>
                </div>
                <div class="font-size-13">
                  <p>{{ "re_refund_reason_detail" | translate }}</p>
                </div>
                <div style="margin-top: 10px">
                  <label for="reject_reason">{{
                    "re_rej_reason" | translate
                  }}</label>
                  <input type="text" class="form-control" id="reject_reason" />
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4">
        <div class="order-summary">
          <div class="container-gap">
            <div style="display: flex; align-items: center">
              <app-feather-icons
                [icon]="'package'"
                class="font-primary"
                style="margin-right: 5px; color: #000 !important"
              ></app-feather-icons>
              <h4>Courier</h4>
            </div>
            <div style="margin-top: 20px">
              <div class="input-group mb-2">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div style="margin-top: 20px">
              <div>
                <label for="tracking_no">{{ "re_track_no" | translate }}</label>
                <input type="number" id="tracking_no" class="form-control" />
              </div>
            </div>
            <hr />
            <div style="margin-top: 20px" class="font-size-13">
              <strong>{{ "re_req_on" | translate }}</strong
              >: {{ dummyData.requested_on }}
            </div>
            <div style="margin-top: 20px" class="font-size-13">
              <strong>{{ "re_type" | translate }}</strong
              >:
              <span class="badge badge-success">{{ dummyData.type }}</span>
            </div>
            <div style="margin-top: 20px" class="font-size-13">
              <div class="input-group mb-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">$</div>
                </div>
                <input
                  type="number"
                  class="form-control"
                  id="inlineFormInputGroup"
                  [value]="dummyData.total"
                />
              </div>
              <!-- <strong>Total</strong>: <h5 class="d-inline">${{dummyData.total}}</h5> 
                            <span class="change-btn" data-toggle="modal" (click)="changeTotal(Total)">Change</span> -->
            </div>
            <div class="row" style="margin-top: 30px">
              <div class="col-12 col-sm-12" style="text-align: center">
                <button class="btn btn-primary" type="button">
                  {{ "re_refund" | translate }} ${{ dummyData.total }}
                </button>
              </div>
              <div class="col-12 col-sm-12" style="margin-top: 10px">
                <p style="margin-bottom: 5px">
                  {{ "re_refund_item" | translate }}
                </p>
                <div class="form-check">
                  <input
                    type="checkbox"
                    class="form-check-input"
                    id="exampleCheck1"
                  />
                  <label class="form-check-label" for="exampleCheck1">{{
                    "re_send_not" | translate
                  }}</label>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #Total let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Price</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div>
        <label for="price">Price</label>
        <input
          type="number"
          ngbAutofocus
          [(ngModel)]="total"
          class="form-control"
          id="price"
          aria-describedby="price"
          placeholder="Enter Price"
        />
      </div>
      <div style="margin-top: 10px">
        <label for="reason">Select Reason</label>
        <select
          class="form-control"
          id="reason"
          [(ngModel)]="reason"
          name="reason"
        >
          <option value="wrapping">Wrapping</option>
          <option value="other">Other</option>
        </select>
      </div>
      <div style="margin-top: 10px" *ngIf="reason == 'other'">
        <label for="desc">Reason</label>
        <input
          type="text"
          [(ngModel)]="reasonDesc"
          name="reasonDesc"
          class="form-control"
          id="desc"
          aria-describedby="desc"
          placeholder="Enter Reason"
        />
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary" type="button" (click)="updateTotal()">
        Update
      </button>
    </div>
  </div>
</ng-template>

<ng-template #Status let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Status</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <label for="status">Select Status</label>
      <select
        class="form-control"
        id="status"
        ngbAutofocus
        [(ngModel)]="status"
        name="status"
      >
        <option value="confirmingOrder">Confirming Order</option>
        <option value="orderConfirmed">Order Confirmed</option>
        <option value="shipped">Shipped</option>
        <option value="delivered">Delivered</option>
        <option value="processingRefund">Processing Refund</option>
        <option value="refunded">Refunded</option>
      </select>
    </div>
    <div class="action">
      <button class="btn btn-primary" type="button" (click)="updateStatus()">
        Update
      </button>
    </div>
  </div>
</ng-template>

<ng-template #Shipment let-modal>
  <div class="modal-header">
    <h5 class="modal-title" id="exampleModalLabel">Update Shipment Method</h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group">
      <div>
        <div class="row form-inline">
          <label class="col-12 col-sm-3" for="other">Other Courier</label>
          <input
            class="form-control col-12 col-sm-4"
            ngbAutofocus
            id="other"
            type="text"
          />
          <div class="box-input-file col-12 col-sm-3">
            <input
              class="upload"
              type="file"
              (change)="readUrlSizeImg($event)"
            />
            <img class="imgUpload" alt="" [src]="img" />
          </div>
        </div>
      </div>
      <div style="margin: 20px 0px">
        <label style="margin-right: 10px">Marketoo Account</label>
        <ol>
          <li>
            <a href="https://www.sf-express.com/hk/tc/" target="_blank"
              >SF Express</a
            >
          </li>
          <li>
            <a
              href="https://www.hongkongpost.hk/en/home/index.html"
              target="_blank"
              >HK Post</a
            >
          </li>
          <li>
            <a
              href="https://ec-ship.hongkongpost.hk/platform/index.jsf?lang=en_us"
              target="_blank"
              >EC Shipment</a
            >
          </li>
        </ol>
      </div>
      <div style="margin: 10px 0px">
        <div class="row form-inline">
          <label class="col-12 col-sm-4">Add Tracking Details</label>
          <input class="form-control col-12 col-sm-5" id="size" type="text" />
        </div>
      </div>
    </div>
    <div class="action">
      <button class="btn btn-primary" type="button" (click)="updateStatus()">
        Update
      </button>
    </div>
  </div>
</ng-template>

<ng-template #Document let-modal class="modal-xl">
  <div class="modal-header" style="background: #f88379">
    <h5 class="modal-title" id="exampleModalLabel" style="color: white">
      Return and Exchange
    </h5>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="main-container" style="padding: 10px 30px">
      <p class="modal-text-style-3">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >In order to provide a pleasurable shopping experience, quality of
          products are subjected to more stringent provisions.</span
        >
        <span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >為了提供更愉快的購物體驗，Marketoo嚴格規管商品質素</span
        >
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >Products delivery, exchange, return are handled by individual
          designers. Before sending a refund or exchange request, please contact
          designers and provide valid reasons.</span
        >
        <span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >商品出貨、換貨、退貨都是由個別設計師自行管理。申請退款時，請務必先與設計師
          聯繫並告知原因。</span
        >
      </p>

      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >Under below circumstances, customers are entitled to apply for a
          refund/ exchange Within 7 days after products are received.</span
        ><span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >任何商品有以下情況，消費者可在收到商品後7天內申請退貨/ 換貨:</span
        >
      </p>

      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >Mismatched items (including but not limited to mismatch regarding
          products Specification, style, quantity)</span
        ><span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >與訂單不符的商品（包含但不限於商品規格、樣式、數量等不符）</span
        >
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >Faulty items (including but not limited to product defect and damages
          caused By shipment)</span
        >
        <span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >商品有缺陷瑕疵（包含但不限於品質瑕疵、運送過程毀損等）</span
        >
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >The product does not match the product page description (including
          but not Limited to product usage and function)</span
        ><span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >商品與商品頁說明不符（包含但不限於商品用途、商品功能等）</span
        >
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-3">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >Confirmation will be sent immediately when refund/ exchange
          application is received and returned products fulfil refund
          policy.</span
        >
        <span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >收到退貨/
          換貨申請並確認貨品狀態符合退貨政策的要求後，會立即發出確認郵件。</span
        >
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >Designers are responsible for return shipping cost of the products
          and the returned Product cost will be fully refunded.</span
        ><span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >商品退回運費由設計師負擔，而退貨商品費用也將獲全額退款。</span
        >
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >If duties and taxes are imposed on cross-border traded goods, the
          recipient shall Bare all taxes and fees.</span
        ><span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >跨境交易商品通關時，如遇收件地區海關收取稅金，相關稅金與費用應由收件方負
          擔。.</span
        >
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span
          *ngIf="selectedLang === 'en'"
          style="
            font-size: 16px;
            font-family: 'Trebuchet MS', sans-serif;
            color: #ed220b;
          "
          >All returns will be refunded in the form of store credit or original
          payment method.</span
        >
        <span
          *ngIf="selectedLang !== 'en'"
          style="
            font-size: 16px;
            font-family: 'Trebuchet MS', sans-serif;
            color: #ed220b;
          "
          >所有退貨會以積分形式退款或退回原本付款方式.</span
        >
      </p>
      <!--  -->
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-3">
        <span
          *ngIf="selectedLang === 'en'"
          style="
            font-size: 16px;
            font-family: 'Trebuchet MS', sans-serif;
            color: #ed220b;
          "
          >If you choose to refund in the form of store credit, the credit will
          be automatically added to your Marketoo account. After logging into
          your Marketoo account with your email address and password, you can
          view the details of the store credit on the "My Wallet" page in "My
          Account". When you make a purchase, the system will automatically
          deduct</span
        >
        <span
          *ngIf="selectedLang !== 'en'"
          style="
            font-size: 16px;
            font-family: 'Trebuchet MS', sans-serif;
            color: #ed220b;
          "
          >如選擇以積分形式退 款,積分將會自動加入到您的
          Marketoo帳戶。以電郵地址及密碼登入Marketoo 帳戶後,
          您可於「我的帳戶」內的「我的錢包」頁面查看積分的詳情。當您購
          物時系統會自動扣減錢包內的積分, 並用以付款。
        </span>
      </p>
      <!--  -->
      <p class="modal-text-style-2">
        <span class="modal-text-style-1">&nbsp;</span>
      </p>
      <p class="modal-text-style-2">
        <span class="modal-text-style-4" *ngIf="selectedLang === 'en'"
          >If the designer's country/region for consumer rights protection is
          higher than this Marketoo's cancellation policy or, when the designer
          and the consumer's country/Region is the same, the designer should
          provide the higher protection for consumers in his country/region of
          the rights and interests</span
        >
        <span class="modal-text-style-4" *ngIf="selectedLang !== 'en'"
          >如設計師所屬國家對於消費者權益保障高於本Marketoo退款政策之規定者，當設計師與消費者所屬國家相同，設計師應就其所屬國家消費者，提供該較高之消費者權益保障。</span
        >
      </p>
    </div>
  </div>
  <!-- <div class="action">
          <button class="btn btn-primary" type="button" (click)="updateStatus()">Update</button>
      </div> -->
</ng-template>
