<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div
          class="card-header"
          style="display: flex; justify-content: space-between"
        >
          <h5>{{ "ab_about_us" | translate }}</h5>
          <div>
            <app-button
              [btnType]="'submit'"
              [loading]="false"
              [disabled]="loading"
              [btnText]="editable ? 'Cancel' : 'Edit'"
              (onSubmit)="onEditClick()"
            ></app-button>
            <!-- <button
              type="button"
              [disabled]="loading"
              class="btn btn-primary"
              (click)="onEditClick()"
              style="margin-right: 10px"
            >
              {{ editable ? "Cancel" : "Edit" }}
              
            </button> -->
            <app-button
              style="margin-left: 10px"
              *ngIf="editable"
              [btnType]="'submit'"
              [loading]="loading"
              [disabled]="loading"
              [btnText]="'Update'"
              (onSubmit)="onUpdate()"
            ></app-button>
            <!-- <button
              *ngIf="editable"
              type="button"
              [disabled]="loading"
              class="btn btn-primary"
              (click)="onUpdate()"
            >
              Update
            </button> -->
          </div>
        </div>
        <div class="card-body">
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <app-loader [loading]="loading"></app-loader>
          </div>
          <div class="about-us-class" *ngIf="!loading">
            <ngb-accordion
              [closeOthers]="true"
              (panelChange)="changeTab($event)"
            >
              <ngb-panel [id]="ind" *ngFor="let key of keys; let ind = index">
                <ng-template ngbPanelTitle>
                  <div
                    class="header-title"
                    style="display: flex; justify-content: space-between"
                  >
                    <span>{{ key | translate }}</span>
                    <app-feather-icons
                      *ngIf="tabId !== ind"
                      [icon]="'chevron-down'"
                      class="font-primary"
                    ></app-feather-icons>
                    <app-feather-icons
                      *ngIf="tabId === ind"
                      [icon]="'chevron-up'"
                      class="font-primary"
                    ></app-feather-icons>
                  </div>
                </ng-template>
                <ng-template ngbPanelContent>
                  <div [innerHTML]="this[key]" *ngIf="!editable"></div>
                  <app-text-editor
                    *ngIf="editable"
                    [(text)]="this[key]"
                    (textEmit)="handleChange($event, key)"
                  ></app-text-editor>
                </ng-template>
                <br />
                <hr />
                <br />
              </ngb-panel>

              <br />
            </ngb-accordion>
          </div>
          <br />
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
