<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div class="boosting-section">
        <h4>{{ "bid_boosting" | translate }}</h4>
        <p>
            {{ "bid_boosting_desc" | translate }}
        </p>
      </div>
    </div>
    <div class="col-12">
      <app-bid-form></app-bid-form>
    </div>
    <div class="col-12" style="margin-bottom: 20px">
      <div class="questions-section">
        <ngb-accordion [closeOthers]="true" (panelChange)="changeTab($event)">
          <ngb-panel [id]="quest.id" *ngFor="let quest of questions">
            <ng-template ngbPanelTitle>
              <div class="header-title">
                <span>{{ quest.question }}</span>
                <app-feather-icons
                  *ngIf="tabId !== quest.id"
                  [icon]="'chevron-down'"
                  class="font-primary"
                ></app-feather-icons>
                <app-feather-icons
                  *ngIf="tabId === quest.id"
                  [icon]="'chevron-up'"
                  class="font-primary"
                ></app-feather-icons>
              </div>
            </ng-template>
            <ng-template ngbPanelContent>
              <div [innerHTML]="quest.answer"></div>
            </ng-template>
          </ngb-panel>
        </ngb-accordion>
      </div>
    </div>
  </div>
</div>
