/* You can add global styles to this file, and also import other style files */
// .btn {
//   background-color: #f88379 !important;
//   background: #f88379 !important;
//   border-color: #f88379 !important;
// }

.btn-primary {
  background-color: #f88379 !important;
  background: #f88379 !important;
  border-color: #f88379 !important;
}
.btn-custom {
  // background-color: #f88379 !important;
  // background: #f88379 !important;
  border-color: #f88379 !important;
}
.feather {
  color: #f88379 !important;
}
.fa {
  color: #f88379 !important;
}
line {
  color: #f88379 !important;
}
.sidebar-menu li a {
  // color: #808000 !important;
}
.sidebar-menu .sidebar-submenu > li > a {
  // color: #808000 !important;
}
.ng5-slider .ng5-slider-pointer {
  background-color: #f88379 !important;
}
.pagination li a {
  color: #f88379 !important;
}
.market-chart .ct-series-a .ct-bar {
  stroke: #f88379 !important;
}
.pager li :hover a {
  background: #f88379 !important;
  border-color: #f88379;
}
.pager .active a {
  background: #f88379 !important;
}

.pager li :hover a {
  background: #f88379 !important;
  border-color: #f88379;
  color: white;
}

.custom-datatable
  .ngx-datatable.bootstrap
  .datatable-footer
  .datatable-pager
  ul
  li:not(.disabled):hover
  a {
  // background: #f88379 !important;
  border: 1px solid #f88379 !important;
}

.required:after {
  content: "*";
  color: red;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
