<!-- Container-fluid starts-->
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-12">
      <div class="card">
        <div class="card-header">
          <h5>{{ "manage_order" | translate }}</h5>
        </div>
        <div class="card-body">
          <div
            style="display: flex; align-items: center; justify-content: center"
          >
            <app-loader [loading]="loading"></app-loader>
          </div>
          <div class="custom-datatable" *ngIf="!loading">
            <input
              type="text"
              class="filter-ngx form-control"
              placeholder="Search..."
              (keyup)="updateFilter($event)"
            />
            <ngx-datatable
              class="bootstrap"
              [rows]="orders"
              [columnMode]="'force'"
              [headerHeight]="50"
              [footerHeight]="50"
              [rowHeight]="'auto'"
            >
              <!-- [externalPaging]="true"
              [count]="pagination.TotalCount"
              [offset]="pagination.CurrentPage"
              [limit]="pagination.PageSize"
              (page)="setPage($event)" -->
              <ngx-datatable-column
                name="{{ 'ordersmanagement_orderid' | translate }}"
                prop="orderId"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ordersmanagement_product' | translate }}"
                prop="orderedProductDetails"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ getProductsName(value) }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ordersmanagement_paymentstatus' | translate }}"
                prop="paymentStatus"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ordersmanagement_paymentmethod' | translate }}"
                prop="paymentService"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ordersmanagement_orderstatus' | translate }}"
                prop="orderStatus"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ordersmanagement_orderdate' | translate }}"
                prop="creationDate"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  {{ getFormatDate(value) }}
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ordersmanagement_total' | translate }}"
                name="total"
              ></ngx-datatable-column>
              <ngx-datatable-column
                name="{{ 'ordersmanagement_action' | translate }}"
                prpp="action"
                sortable="false"
                prop="orderId"
              >
                <ng-template
                  let-row="row"
                  let-value="value"
                  ngx-datatable-cell-template
                >
                  <span style="color: #f88379; cursor: pointer">
                    <i class="fa fa-eye" (click)="onSelectRow(value)"></i>
                  </span>
                </ng-template>
              </ngx-datatable-column>
              <ngx-datatable-footer>
                <ng-template ngx-datatable-footer-template>
                  <div
                    class="pagination"
                    *ngIf="!loading"
                    style="margin-bottom: 10px; width: -webkit-fill-available"
                  >
                    <mat-paginator
                      style="width: -webkit-fill-available"
                      [pageIndex]="pagination.CurrentPage - 1"
                      [length]="pagination.TotalCount"
                      [pageSize]="pagination.PageSize"
                      [pageSizeOptions]="pageSizeOptions"
                      (page)="pageEvent($event)"
                    >
                    </mat-paginator>
                  </div>
                </ng-template>
              </ngx-datatable-footer>
            </ngx-datatable>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Container-fluid Ends-->
</div>
